{% extends "base.html.twig" %}

{% block body %}
    <h1>Welcome to Bucket-List</h1>

    <div>{{ title }}</div>
    <div>{{ title | striptags }}</div>
    <div>{{ title |raw }}</div>

    <h2>Wishes details</h2>

    <ul>
        {% for key, val in wishes %}
            <li>{{ key }} : {{ val }}</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block title %}
    {{ parent() }} | Home
{% endblock %}